In [1]:
#data analysis
import pandas as pd
import numpy as np

#data visualisation
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("train.csv", low_memory=False)
test_data = pd.read_csv("test.csv", low_memory=False)

In [3]:
tt = df["Transported"].values.astype(object).astype(int)
df["Transported"] = tt
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1

In [4]:
combine = [df, test_data]

In [5]:
def prepare(df):
    for label, contents in df.items():
        if pd.api.types.is_numeric_dtype(contents):
            if pd.isnull(contents).sum():
            
            #add a binary column which tells us what data is missing
#             catd[label+"is_missing"] = pd.isnull(contents)
            #fill missing numeric values with median
                df[label] = contents.fillna(contents.mean())
    for label, contents in df.items():
        if not pd.api.types.is_numeric_dtype(contents):
            df[label] = pd.Categorical(contents).codes+1
            
prepare(df)
prepare(test_data)

In [6]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,1,2,1,150,3,39.0,1,0.0,0.0,0.0,0.0,0.0,5253,0
1,2,1,1,2185,3,24.0,1,109.0,9.0,25.0,549.0,44.0,4503,1
2,3,2,1,2,3,58.0,2,43.0,3576.0,0.0,6715.0,49.0,458,0
3,4,2,1,2,3,33.0,1,0.0,1283.0,371.0,3329.0,193.0,7150,0
4,5,1,1,2187,3,16.0,1,303.0,70.0,151.0,565.0,2.0,8320,1

In [7]:
df.isna().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
dtype: int64

In [8]:
X = df.drop("Transported", axis=1)
y = df.Transported

In [15]:
len(X)

8693

In [29]:
from sklearn.model_selection import train_test_split



X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [30]:
from sklearn.svm import LinearSVC
#from sklearn.neighbors import KNN
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [31]:
np.random.seed(42)
clf = RandomForestClassifier().fit(X_train, y_train)
clf.score(X_test, y_test)

0.7872340425531915